* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html, body { 
height: 100%; 
margin: 0; 
padding: 0;
overflow: hidden;
}

.one { 
  background-image: url(../images/junjiito.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh; 
  color: rgb(32, 31, 31); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container { 
height: 100%; 
overflow-y: scroll;
}

.content {
  text-align: center;
  position: relative;
}


h1 { 
  font-size: 100px;
  margin-bottom: 200px;
  position: relative;
}

img {
width: 150px; 
height: auto;
}

.two {
  background-image: url(/images/page2.png);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh; 
  color: rgb(255, 255, 255);
}


.left {
  grid-column: 1;
  grid-row: 2;
  text-align: left;
  padding: 20px;
  font-size: 24px;
}

.right {
  grid-column: 2;
  text-align: left; 
  overflow: auto; 
  padding: 20px;
  font-size: 20px; 
  word-wrap: break-word;
  max-width: 400px;
}

.content2 {
  text-align: right; 
  white-space: normal;
  margin-right: 5px;
}

.eight {
background-image: url(/images/contactpage.jpg);
background-position: center;
background-size: cover;
min-height: 100vh; /* Use min-height to allow for dynamic content */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
color: black;
overflow: auto;
padding-left: 10%;
padding-right: 10%;
}

#header-contact-page {
margin: 0;
}


.contact {
width: 100%;
max-width: 600px;
margin-left: 40%; 
}

form {
width: 100%;
}

.input-group {
margin-bottom: 20px;
position: relative;
}

input, textarea {
width: 100%;
padding: 10px;
outline: 0;
border: 1px solid #080808;
color: #070707;
background: transparent;
font-size: 15px;
text-align: left;
box-sizing: border-box;
margin: 0;
}

label {
height: 100%;
position: absolute;
left: 0;
top: 0;
padding: 10px;
color: rgb(0, 0, 0);
cursor: text;
}

button {
padding: 10px 0;
color: rgb(0, 0, 0);
outline: none;
background: transparent;
border: 1px solid rgb(0, 0, 0);
width: 100%;
cursor: pointer;
}

.three {
background-image: url(/images/sec3.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh; 
color: rgb(241, 1, 1);
font-size: 45px;
}

.row1 {
  display: flex; 
  justify-content: space-evenly; 
  align-items: center;
  width: 100%; 
}

.column1, .column2, .column3 {
  margin: 10px; 
}

.four { 
  background-image: url(/images/sec4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.four {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
  height: 100vh;
  color: rgb(32, 31, 31);
}

.left-content {
  text-align: center; 
  flex-grow: 1; 
}

.right-content {
  text-align: center; 
  flex-grow: 1; 
}

.five { 
  background-image: url(/images/sec5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}


.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.circle-text {
  font-size: 16px;
  color: black;
}