* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
  overflow: hidden;
}

.one { 
    background-image: url(/images/junjiito.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh; 
    color: rgb(32, 31, 31); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container { 
  height: 100%; 
  overflow-y: scroll;
}

.content {
    text-align: center;
    position: relative;
}


h1 { 
    font-size: 100px;
    margin-bottom: 200px;
    position: relative;
}

img {
  width: 150px; 
  height: auto;
}

.two { 
  background-image: url(/images/page2.png);
  background-position: center;
  background-size: cover;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; 
  overflow: auto;
}

.row{
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 50px 30px; 
}

.row .left{ 
  overflow: hidden;
}

.row .right .content2 { 
  padding-left: 20px;
}

.row .right .content2 { 
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 15px;
}

.seven { 
  background-image:url(/images/contactpage.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: rgb(0, 0, 0); 
  overflow: auto;
}

.contact { 
  width: 100%; 
  height: 100vh; 
}

form { 
  width: 90%;
  max-width: 600px;
  margin: 0; 
  text-align: right;
}

.input-group { 
  margin-bottom: 20px;
  position: relative;
}

input, textarea { 
  width: 100%;
  padding: 10px;
  outline: 0; 
  border: 1px solid #080808;
  color: #070707;
  background: transparent;
  font-size: 15px;
}

label { 
  height: 100%; 
  position: absolute;
  left: 0; 
  top: 0; 
  padding: 10px;
  color:rgb(0, 0, 0);
  cursor: text;
}

button { 
  padding: 10px 0;
  color:rgb(0, 0, 0);
  outline: none;
  background: transparent;
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  cursor: pointer;
}

.three { 
  background-image: url(/images/sec3.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: rgb(0, 0, 0); 
  overflow: auto;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}